<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis_c3p0_spring5_study.mappers.EmployeeMapper">

	<insert id="insertEmployee" parameterType="Employee">
		insert into employee (empno, empname, title, manager, salary, dno) 
		values (#{empNo}, #{empName}, #{title}, #{manager.empNo}, #{salary}, #{dept.deptNo});
	</insert>
	
	<delete id="deleteEmployee" parameterType="Employee">
		delete from employee
		where empno = #{empNo}
	</delete>
	
	<update id="updateEmployee" parameterType="Employee">
		UPDATE employee
		SET empname=#{empName}, title=#{title}, manager=#{manager.empNo}, salary=#{salary}, dno=#{dept.deptNo}
		WHERE empno=#{empNo};
	</update>
	
	<resultMap type="Employee" id="resultEmp">
		<id column="empNo" property="empNo"/>
		<result column="empName" property="empName"/>
		<result column="title" property="title"/>
		<result column="manager" property="manager.empNo"/>
		<result column="salary" property="salary"/>
		<association property="dept" resultMap="mybatis_c3p0_spring5_study.mappers.DepartmentMapper.resultDept"/>
	</resultMap>
	
	<select id="selectEmployeeByAll" resultMap="resultEmp">
		SELECT empNo, empName, title, manager, salary, dno
		FROM employee;
	</select>
	
	<select id="selectEmployeeByNo" parameterType="Employee" resultMap="resultEmp">
		SELECT empNo, empName, title, manager, salary, dno
		FROM employee;
	</select>
	
	<select id="selectNextNo" resultType="int">
		select max(empno)+1 as nextNo from employee;
	</select>
</mapper>